<!DOCTYPE html>
<html>
  <head>
    
    <meta charset = 'utf-8'>
    <title>
        Products
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">

    <link rel = "stylesheet" href = "">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    {%load staticfiles%}
    <div class="card" style="width: 18rem;">
        {%if instance.image %}
        <a href="{{instance.get_absolute_url}}"></a>
        <img src="{{instance.image.url}}" class="card-img-top" alt="{{instance.title}} logo">
        {%endif%}
        <div class="card-body">
        <h5 class="card-title">{{instance.title}}</h5>
        <p class="card-text">{{instance.description|linebreaks|truncatewords:15}}</p>
        <a href="{{instance.get_absolute_url}}" class="btn btn-primary">View</a>
        <a class="btn btn-warning"><h1>$</h1>{{instance.price}}</a>
        <a href="{%url 'products:detail' slug=instance.slug %}" class="btn btn-Success">{{instance.title}}</a>
        </div>
      </div>
</body>
</html>
