
    {%extends 'registration/eshop.html'%}
    {%load staticfiles%}
    {%block content%}
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="badge badge-info"><h1>{{ object.title }}</h1></a></br>
                </br>
                 {{object.timestamp|timesince }}
                </br>
            </br>
                <span class="badge badge-pill badge-warning"><h2>${{ object.price }}</h2></span></br>
                <form action="{% url 'charge' %}" method="post">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description="A Django Charge"
                        data-amount="{{ object.price }}"
                        data-locale="auto">
                    </script>
                </form>                    
                <br/>
                <img src ="{{object.image.url}}" class="img-fluid"/>                
                {{ object.description|linebreaks }}<br/>
                
            </div>
        </div>
    </div>
    {%endblock%}

