{%extends 'registration/eshop.html'%}

{%block content%}
<div class= "container">
  <!-- <div class = "jumbotron jombotron-fluid"> -->
     <nav class="navbar navbar-expand-md navbar-light bg-light">
     </nav>
     <nav class="navbar navbar-expand-md navbar-light bg-light" >
       {% if registered %}
       <br>
       <h1 style="color:yellow;">Thank you for registering!</h1>
       {% else %}
       <span class="navbar-brand mb-0 h1" ><h1>Signup</h1></span>
     </nav>
     <br>
     <form method = "POST">
     
     {%csrf_token%}
     {{user_form.as_p}}
     {{profile_form.as_p}}
     
     <input type="submit" class= "btn btn-primary" value="Signup">
     </form>
     {%endif%}
</div>
{%endblock%}
      


